.gst20{
    margin-top:20px;
}
#hdTuto_search{
    display: none;
    padding: 0px;
}
.list-gpfrm-list a{
    text-decoration: none !important;
}
.list-gpfrm li{
    cursor: pointer;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 13px;
}
.list-gpfrm{
    list-style-type: none;
    background: #ffffff;
    border-right: 1px;
    border-left: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-top: 0px;
    border-color: #ccc;
    -webkit-box-shadow: 0px 11px 8px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 11px 8px 0px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 11px 8px 0px #ccc;
}
.list-gpfrm li:hover{
    color: black;
    background-color: #e6e6e6;
}
ul#hdTuto_search {
    position: absolute;
}
ul#hdTuto_search {
    z-index: 9999;
}